apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "sorry-cypress-helm.fullname" . }}-api
  labels:
    {{- include "sorry-cypress-helm.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "sorry-cypress-helm.fullname" . }}-api
  template:
    metadata:
      name: {{ include "sorry-cypress-helm.fullname" . }}-api
      labels:
        app: {{ include "sorry-cypress-helm.fullname" . }}-api
        {{- with .Values.api.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end}}
      {{- with .Values.api.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      nodeSelector:
        {{ toYaml .Values.api.nodeSelector | indent 8 }}
      {{- with .Values.api.tolerations }}
      tolerations:
        {{ toYaml . | indent 8 }}
      {{- end }}
      {{- with .Values.api.affinity }}
      affinity:
        {{ toYaml . | indent 8 }}
      {{- end }}
      containers:
      - env:
        {{- if .Values.mongo.enabled }}
        - name: MONGODB_DATABASE
          value: {{ .Values.mongo.mongoDatabase }}
        - name: MONGODB_URI
          value: mongodb://{{ include "mongo.hostname" . }}:{{ .Values.mongo.service.port }}
        {{- end }}
        image: "{{ .Values.api.image.repository }}:{{ .Values.api.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.api.image.pullPolicy }}
        name: {{ include "sorry-cypress-helm.fullname" . }}-api
        ports:
        - containerPort: 4000
        resources:
          {{- toYaml .Values.api.resources | nindent 10 }}
        {{- if .Values.api.readinessProbe.enabled }}
        readinessProbe:
          httpGet:
            path: /.well-known/apollo/server-health
            port: 4000
          periodSeconds: {{ .Values.api.readinessProbe.periodSeconds }}
          timeoutSeconds: {{ .Values.api.readinessProbe.timeoutSeconds }}
          successThreshold: {{ .Values.api.readinessProbe.successThreshold }}
          failureThreshold: {{ .Values.api.readinessProbe.failureThreshold }}
        {{- end }}
      restartPolicy: Always
      serviceAccountName: ""
      volumes: null