# Default values for sorry-cypress-helm.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

api:
  image:
    repository: agoldis/sorry-cypress-api
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    # tag: "latest"

  # If you have no need for the API service, you can set this to false to exclude it
  enabled: true

  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  nodeSelector: {}

  tolerations: []

  affinity: {}

  service:
    port: 4000

  readinessProbe:
    enabled: true
    periodSeconds: 5
    timeoutSeconds: 3
    successThreshold: 2
    failureThreshold: 5

  # Set annotations for pods
  podAnnotations: {}

  # Additional pod labels
  podLabels: {}

  ingress:
    labels: {}
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
      - host: api.chart-example.local
        path: /
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local

dashboard:
  image:
    repository: agoldis/sorry-cypress-dashboard
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    # tag: "latest"

  # If you have no need for the Dashboard service, you can set this to false to exclude it
  enabled: true

  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  nodeSelector: {}

  tolerations: []

  affinity: {}

  # https://sorry-cypress.dev/dashboard#configuration
  environmentVariables:
    graphQlClientCredentials: ""
    graphQlSchemaUrl: ""
    ciUrl: ""

  service:
    port: 8080

  # Set annotations for pods
  podAnnotations: {}

  # Additional pod labels
  podLabels: {}

  ingress:
    enabled: true
    labels: {}
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
      - host: dashboard.chart-example.local
        path: /
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local

director:
  image:
    repository: agoldis/sorry-cypress-director
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    # tag: "latest"

  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi

  nodeSelector: {}

  tolerations: []

  affinity: {}

  environmentVariables:
    # The "Run URL" in the Cypress client
    dashboardUrl: ""

    # In memory, or Mongo.
    # Valid options are:
    # "../execution/in-memory"
    # "../execution/mongo/driver"
    executionDriver: "../execution/in-memory"

    # Dummy or S3
    # Valid options are:
    # "../screenshots/dummy.driver"
    # "../screenshots/s3.driver"
    screenshotsDriver: "../screenshots/dummy.driver"

    # https://sorry-cypress.dev/director/configuration
    allowedKeys: ""

  # Set annotations for pods
  podAnnotations: {}

  # Additional pod labels
  podLabels: {}

  service:
    port: 1234

  ingress:
    enabled: true
    labels: {}
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
      - host: director.chart-example.local
        path: /
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local

mongodb:
  # You need to ensure that director.environmentVariables.executionDriver is set to "../execution/mongo/driver" if you want the director to use mongodb.
  enabled: true
  mongoDatabase: "sorry-cypress"
  # Ignored if mongo.enabled is set to true
  mongoServer: ""

  # If enabled, you can use any values from the mongodb helm chart: https://github.com/bitnami/charts/blob/master/bitnami/mongodb/values.yaml
  # Below are the bare minimim to get you started.
  architecture: replicaset
  auth:
    enabled: false
  persistence:
    enabled: false

s3:
  bucketName: example-bucket
  region: us-east-1
  accessKeyId: ""
  secretAccessKey: ""
  acl: "public-read"
  readUrlPrefix: ""

  ingress:
    # When enabling ingress, an ExternalName service will be also created to expose the bucket.
    enabled: false
    labels: {}
    annotations: {}
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
      # nginx.ingress.kubernetes.io/upstream-vhost: <bucket>.s3-website-<region>.amazonaws.com
      # nginx.ingress.kubernetes.io/enable-cors: "true"
      # nginx.ingress.kubernetes.io/cors-allow-origin: "*"
      # nginx.ingress.kubernetes.io/cors-allow-methods: "POST, GET, PUT, DELETE, HEAD"
    hosts:
      - host: static.chart-example.local
        path: /
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local

minio:
  enabled: false

  # If enabled, you can include any values from the minio helm chart: https://github.com/minio/charts/blob/master/minio/values.yaml
  # Below are the bare minimim to get you started.

  endpoint: storage.yourdomain.com
  url: http://storage.yourdomain.com

  defaultBucket:
    enabled: true
    name: sorry-cypress

  persistence:
    size: 10Gi
