name: Lint and Test Charts

on:
  pull_request:
    branches:
      - main

jobs:
  lint-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        kubernetes_version:
          - "kindest/node:v1.20.2"
          - "kindest/node:v1.19.7"
          - "kindest/node:v1.18.15"
          - "kindest/node:v1.17.17"
          - "kindest/node:v1.16.15"
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.4.0

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.0.1
        with:
          version: v3.3.0
          
      - name: Add dependency chart repos
        run: |
          helm repo add mongodb https://charts.bitnami.com/bitnami

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config lint.yaml)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Run chart-testing (lint)
        run: ct lint --all --debug --config lint.yaml

      - name: Create kind cluster
        uses: helm/kind-action@v1.1.0
        if: steps.list-changed.outputs.changed == 'true'
        with:
          node_image: ${{ matrix.kubernetes_version }}

      - name: Run chart-testing (install)
        run: ct install --debug --config test.yaml
