name: Lint and Test Charts

on:
  pull_request:
    branches:
      - main

jobs:
  lint-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        kubernetes_version:
          - "kindest/node:v1.23.4"
          - "kindest/node:v1.22.7"
          - "kindest/node:v1.21.10"
      fail-fast: true

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: "0"

      - name: Set up Helm
        uses: azure/setup-helm@v3.1
        with:
          version: v3.4.0

      - name: Set up Python
        uses: actions/setup-python@v4.1.0
        with:
          python-version: 3.8

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.2.1
        with:
          version: v3.4.0
          
#       - name: Add dependency chart repos
#         run: |
#           helm repo add minio https://helm.min.io/ --force-update
#           helm repo add mongodb https://raw.githubusercontent.com/bitnami/charts/pre-2022/bitnami --force-update

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config lint.yaml)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Run chart-testing (lint)
        run: ct lint --all --debug --config lint.yaml

      - name: Create kind cluster
        uses: helm/kind-action@v1.3.0
        if: steps.list-changed.outputs.changed == 'true'
        with:
          node_image: ${{ matrix.kubernetes_version }}
          config: charts/sorry-cypress/ci/kind-config.yaml

      - name: Run chart-testing (install)
        run: ct install --debug --config test.yaml
