name: Lint and Test Charts

on:
  pull_request:
    branches:
      - main

jobs:
  lint-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        kubernetes_version:
          - "kindest/node:v1.25.2"
          - "kindest/node:v1.24.6"
          - "kindest/node:v1.23.12"
      fail-fast: true

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: "0"

      - name: Set up Helm
        uses: azure/setup-helm@v3.5
        with:
          version: v3.4.0

      - name: Set up Python
        uses: actions/setup-python@v4.6.1
        with:
          python-version: 3.8

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.3.1
        with:
          version: v3.4.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config lint.yaml)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Run chart-testing (lint)
        run: ct lint --all --debug --config lint.yaml

      - name: Create kind cluster
        uses: helm/kind-action@v1.7.0
        if: steps.list-changed.outputs.changed == 'true'
        with:
          node_image: ${{ matrix.kubernetes_version }}
          config: charts/sorry-cypress/ci/kind-config.yaml

      - name: Run chart-testing (install)
        run: ct install --debug --config test.yaml
