name: Release Charts

on:
  push:
    branches:
      - main
    paths:
      - 'charts/sorry-cypress/Chart.yaml'

jobs:
  release:
    runs-on: ubuntu-latest
    if: "!contains(toJSON(github.event.commits.*.message), '[skip release]')"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v3.1
        with:
          version: v3.4.0
          
      - name: Add dependency chart repos
        run: |
          helm repo add minio https://helm.min.io/ --force-update
          helm repo add mongodb https://raw.githubusercontent.com/bitnami/charts/pre-2022/bitnami --force-update
        
      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.4.0
        with:
          charts_dir: charts
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
